@use "../utils/mixins";
@use "../utils/variables";

.circle-arrow {
    width: 40px;
    height: 40px;
    border: 2px solid variables.$circle;
    border-radius: 20px; /* Или border-radius: 50%; */
    background: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    outline: none;
    padding: 0;
    transition: transform 0.2s, opacity 0.2s;
}

/* Общие стили для обеих половинок стрелки */
.circle-arrow::before, .circle-arrow::after {
    content: '';
    position: absolute;
    width: 9.6px; /* Длина половинки стрелки */
    height: 2px; /* Толщина линии */
    background-color: variables.$circle;
    border-radius: 2px; /* 👈 Скругляет края линий */
    top: 58%;  /* Сдвиг к центру круга */
    left: 52%; /* Сдвиг к центру круга */
}

/* Верхняя половинка */
.circle-arrow::before {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: calc(50% - -2.6px); /* Смещаем верхний усик чуть выше */
}

/* Нижняя половинка */
.circle-arrow::after {
    transform: translate(-50%, -50%) rotate(45deg);
    top: calc(50% + -2.6px); /* Смещаем нижний усик чуть ниже */
}