@use "sass:color";

// $primary
$main-bg: #F8F8F8;
$title-bg: #41F6D7;
$links-bg: #FFFFFF;
$links-text: #7E7E82;
$read-more-trigger-text: #1B1C21;
$read-more-container-bg: #F8F8F8;
$swiper-bullet-bg: #DDDDDD;
$swiper-bullet-active: #B5B6BC;
$show-more-btn: #1A1A1A;
$circle: #FF3E79;
// $border-bottom-color: #D9FFF5;

$border-bottom: 1px solid #D9FFF5;
$border-swiper: 1px solid #EAEAEA;
$border-group: 0.5px solid white;
$border-li-transparent: 2px solid transparent;
$border-li-hover: 2px solid #B8FFEC;
$header-liner-gradient: linear-gradient(to right, #F8F8F8,#FFFFFF);
$shadow-overlay-liner-gradient: linear-gradient(to right, transparent, #F8F8F8);

$breakpoints: (
    "tablet": 768px,
    "desktop": 1120px
);

$font-main: 'TT Lakes', sans-serif;