@use '../utils/variables';
@use '../utils/mixins';

body {
  display: flex;
  flex-direction: column;
  font-family: variables.$font-main;
  font-size: 16px;

  @include mixins.respond-to('desktop') {
    flex-direction: row;
    flex-wrap: wrap;
    background: variables.$main-bg;
  }
}