@use '../utils/mixins';
@use '../utils/variables';

.header {
  .profile,
  .chat,
  .call {
    display: none;

    @include mixins.respond-to('tablet') {
      display: inline-flex;
    }

    @include mixins.respond-to('desktop') {
      display: none;
    }
  }

  // .checkstatus {
  //   @include mixins.respond-to('tablet') {
  //     margin-right: 24px;
  //   }
  //   @include mixins.respond-to('desktop') {
  //     display: none;
  //   }
  // }

  // .burger {
  //   @include mixins.respond-to('tablet') {
  //     // margin-left: 24px;
  //   }
  //   @include mixins.respond-to('desktop') {
  //     display: none;
  //   }
  // }

  // .burger,
  // .group,
  // .profile,
  // .chat,
  // .call,
  // .divider-1,
  // .divider-2,
  // .repair,
  // .checkstatus
  // {
  //   @include mixins.respond-to('desktop') {
  //     display: none;
  //   }
  // }
}

.pc-buttons {
  display: none;

  @include mixins.respond-to('desktop') {
    display: inline-flex;
    margin-right: 31px;
    gap: 0 32px;
  }
}

.drawer-search {
  padding: 24px;

  @include mixins.respond-to('tablet') {
    padding: 0;
  }
}

.drawer-header {
  .drawer-burger {
    @include mixins.respond-to('desktop') {
      display: none;
    }
  }
}

.prices-swiper {
  // --- РОЗОВАЯ КНОПКА ЗАКАЗА ---
  &__btn-order {
    @include mixins.flex-space-between;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    // --- ВОТ ЭТИ ДВЕ СТРОКИ СДВИГАТ СТРЕЛКУ ВПРАВО ВНИЗ ---
    // align-self: flex-end; // 👈 Уносит кнопку к правому краю карточки
    // margin-top: auto; // 👈 Выталкивает кнопку в самый низ, прижимая к нижнему краю карточки
    // margin-left: auto;
    // justify-self: end; // Прижимает кнопку вправо и на мобилке, и на ПК
    position: absolute !important;
    right: 16px !important;
    bottom: 16px !important;

    @include mixins.respond-to('tablet') {
      right: 0px !important;
      // justify-self: end; // На ПК центрирует по сетке таблицы
      // align-self: center; // На ПК выравнивает по центру строки
      // margin-top: 0; // На ПК сбрасываем мобильный нижний прижим
    }

    & .circle-arrow {
      left: 5px;
      width: 32px;
      height: 32px;
      border: none;
    }

    & .circle-arrow::before,
    & .circle-arrow::after {
      width: 6px;
      background-color: variables.$links-bg;
    }

    /* Верхняя половинка */
    & .circle-arrow::before {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: calc(50% - -1.5px); /* Смещаем верхний усик чуть выше */
    }

    /* Нижняя половинка */
    & .circle-arrow::after {
      transform: translate(-50%, -50%) rotate(45deg);
      top: calc(50% + -1.5px); /* Смещаем нижний усик чуть ниже */
    }
  }
}
