@use '../utils/mixins';
@use '../utils/variables';

/* Главный контейнер должен быть родителем для абсолютного позиционирования */
// .swiper
.tech-swiper {
  // Перевели на БЭМ-имя секции, чтобы не ломать чужие слайдеры
  position: relative;
  // width: 100%;
  width: calc(100% - 8px) !important; // Супер функция, с помощью которой можно сделать отступ-рамку в свайперах
  max-width: 100% !important; // В связке с calc
  // max-width: 100vw;
  // min-width: 0;
  height: 100%; /* Чтобы контейнер занял всё пространство и посему были видны все элементы, включая пагинацию */
  background-color: variables.$main-bg;
  // margin: 0px 8px 16px 16px;
  padding: 16px 8px 40px 16px;
  // padding-bottom: 24px; // 👈 Даем место снизу для пагинации, чтобы overflow её не обрезал
  overflow: hidden;

  //   &-wrapper
  &__wrapper {
    // Это наш swiper-wrapper
    @include mixins.flex-space-between;
    flex-wrap: nowrap; /* 👈 Запрещает перенос слайдов на новую строку */
    position: relative;

    @include mixins.respond-to('tablet') {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr); /* Сетка 3 столбца */
      place-items: center; /* Центрирует контент внутри ячеек */
      gap: 24px;
      // margin: 24px 24px 0;
      padding: 0 24px 0 24px;
      transform: none !important; // Отключаем JS-трансформации Swiper
    }

    @include mixins.respond-to('desktop') {
      // display: grid !important;
      grid-template-columns: repeat(4, 1fr); /* Сетка 4 столбца */
      place-items: center;
      gap: 32px;
      // margin: 24px 32px 0;
      padding: 0 16px 0;
      // transform: none !important;
    }
  }

  //   &-slide
  &__slide {
    @include mixins.flex-space-between;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 16px;
    width: 240px;
    height: 160px;
    @include mixins.text-style-main;
    // font-weight: 500;
    // font-size: 16px;
    // line-height: 24px;
    // letter-spacing: -0.2px;
    background-color: variables.$links-bg;
    border: variables.$border-swiper;
    border-radius: variables.$border-radius;

    @include mixins.respond-to('tablet') {
      width: 224px;

      /* 👈 ПРЯЧЕМ ВСЕ КАРТОЧКИ, НАЧИНАЯ С 4-Й (остается ровно 3 штук в 1 ряд) */
      &:nth-child(n + 4) {
        display: none !important;
      }
    }

    @include mixins.respond-to('desktop') {
      width: 240px; // На десктопе пусть тянется по грид-сетке

      // На ПК прячем с 5-й карточки, но возвращаем 7-ю
      /* ПОКАЗЫВАЕМ ИХ, ЕСЛИ НАЖАТА КНОПКА */
      &:nth-child(n + 4) {
        display: flex !important;
      }

      /* 👈 ПРЯЧЕМ ВСЕ КАРТОЧКИ, НАЧИНАЯ С 5-Й (остается ровно 4 штук в 21 ряд) */
      &:nth-child(n + 5) {
        display: none !important;
      }
    }

    // --- Исправленная логика показа по кнопке через JS-класс ---
    // Если на родительский слайдер (.tech-slider) навешан класс .is-expanded
    /* ПОКАЗЫВАЕМ ИХ, ЕСЛИ НАЖАТА КНОПКА */
    //   .swiper-wrapper.is-expanded &:nth-child(n + 9)
    .tech-swiper.is-expanded & {
      @include mixins.respond-to('tablet') {
        &:nth-child(n + 4) {
          display: flex !important;
        }
        @include mixins.respond-to('desktop') {
          &:nth-child(n + 5) {
            display: flex !important;
          }
        }
      }
    }

    // Круглая стрелка (сдвигаем её в правый нижний угол)
    .circle-arrow {
      align-self: flex-end; // 👈 КРИТИЧЕСКИ ВАЖНО: принудительно уносит ОДИН этот элемент вправо!
      margin-top: auto; // Гарантирует выталкивание стрелки вниз, если контента мало
    }
  }

  // &__shadow-overlay {
  //   display: inline-block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   max-width: 100vw;
  //   height: 80px; // Высота вашей ленты слайдов
  //   z-index: 5; // Выше слайдов
  //   pointer-events: none;

  //   &-shadow-overlay::after
  &__shadow-overlay::after {
    content: '';
    @include mixins.shadow-overlay($height: 166px);

    @include mixins.respond-to('tablet') {
      display: none;
    }

    // @include mixins.respond-to('desktop') {
    //     display: none;
    // }
  }
}
// }
