@use "variables" as *;
@use "sass:color";

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin button-styles {
    @include flex-center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: 0.5px solid rgba(0, 0, 0, 0);
}

@mixin divider {
    border-left: 2px solid #EAEAEA;
    height: 32px;
    border-radius: 1px;
}

@mixin respond-to($breakpoint) {
    $value: map-get($map: $breakpoints, $key: $breakpoint);

    @media (min-width: $value) {
        @content;
    }
}